<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.solutis.ewerton.booksonthetable">
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name=".app.BooksOnTheTableApp"
        android:allowBackup="true"
        android:icon="@drawable/ic_app_book"
        android:label="@string/app_name"
        android:theme="@style/Theme.BooksOnTheTable">

        <activity
            android:name=".ui.activity.internal.InternalNavHostActivity">
        </activity>

        <activity android:name=".ui.activity.access.AccessNavHostActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>