# Default ignored files
/shelf/
/workspace.xml
*.iml
.gradle
/local.properties
/.idea/caches
.idea/
/.idea/
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
out/
*.apk
*.ap_
*.aab
*.dex
*.class
bin/
gen/
.gradle/
build/
proguard/
*.log
.navigation/
captures/
node_modules/